/*-----------------------*/
/* Estilos para el encabezado h1 */
h2{
    background-color: #53e385;
    font-size: 30px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    font-weight: bolder;
    
  }
  /* Estilos generales para todo el documento */
  ul {
   
    margin-left: 80px;
    margin-right: 80px;
    font-family: arial;  
  }
  
  /* Estilos para la lista de productos */
  .product-grid {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 40px;
    text-align: center;
    grid-template-columns: repeat(5, 1fr); /* Diseño de 5 columnas por defecto */
    margin: 0 auto; /* Centrar y establecer márgenes izquierdo y derecho iguales */
    max-width: 2000px; /* Ajusta el valor según tus necesidades */
  }
  
  /* Media queries para diseños responsivos */
  @media (max-width: 1440px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
        margin-left: 30px;
        margin-right: 36px;
    }
  }
  
  @media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 30px;
        margin-right: 36px;
    }
  }
  
  @media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 30px;
        margin-right: 36px;
    }
  }
  
  @media (max-width: 500px) {
    .product-grid {
        grid-template-columns: 1fr;
        margin-left: 70px;
        margin-right: 75px;
    }
  }
  @media (max-width: 425px){
    .product-grid {
        grid-template-columns: 1fr;
        margin-left: 60px;
        margin-right: 80px;
    }
   
    
    h2{
      font-size: 22px;
      padding-top: 10px;
    }
  }
  @media (max-width: 375px){
    h2{
      font-size: 22px;
      padding-top: 10px;
    }
    .product-grid {
        grid-template-columns: 1fr;
        margin-left: 55px;
        margin-right: px;
    }
  }
  @media (max-width: 320px){
    h2{
      font-size: 22px;
      padding-top: 10px;
    }
    .product-grid {
        grid-template-columns: 1fr;
        margin-left: 25px;
        margin-right: px;
    }
  }
  /* Estilos para elementos de productos individuales */
  .product-item {
    padding: 10px;
    text-align: center;
    align-items: center;
    transition: box-shadow 0.4s; /* Agregar transición para la sombra */
  }
  
  /* Estilos para la imagen del producto */
  .product-item .imagen {
    width: 200px;
    max-width: 100%; /* Hace que la imagen sea responsiva y se adapte al ancho del contenedor */
    height: 210px; /* Mantiene la proporción de la imagen */
    max-height: 100%;
    margin-bottom: 10px; /* Espacio entre la imagen y otros elementos */
  }
  
  /* Estilos para el nombre del producto */
  .product-item .nombre {
    margin-top: 12px;
    text-align: center;
    font-size: 18px; /* Tamaño de fuente */
    color: #797777; /* Color del texto */
  }
  
  /* Estilos para el precio del producto */
  .product-item .precio {
    text-align: center;
    font-size: 20px;
    color: #53e385;
  }
  
  /* Estilos para el botón de producto */
  .btn-product {
    width: 250px;
    height: 45px;
    color: inherit;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    background-color: #53e385;
    font-size: 20px;
  }
  
  /* Estilos para los enlaces */
  a {
    color: white;
  }
  
  /* Estilos para el botón de producto al hacer hover */
  .btn-product:hover {
    background-color: black;
  }
  
  /* Estilos para el producto al hacer hover */
  .product-item:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5); /* Establecer la sombra al hacer hover */
  }
  