
/* Estilos para el encabezado h1 */
h2{
  background-color: #53e385;
  font-size: 30px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  font-weight: bolder;
  
}
/* Estilos generales para todo el documento */
ul {
 
  margin-left: 80px;
  margin-right: 80px;
  font-family: arial;  
}

/* Estilos para la lista de productos */
.product-grid {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 40px;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr); /* Diseño de 5 columnas por defecto */
}

/* Media queries para diseños responsivos */
@media (max-width: 1440px) {
  .product-grid {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .product-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .product-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .product-grid {
      grid-template-columns: 1fr;
  }
}
@media (min-width: 320px) and (max-width: 425px){
  ul{
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Estilos para elementos de productos individuales */
.product-item {
  padding: 10px;
  text-align: center;
  align-items: center;
  transition: box-shadow 0.4s; /* Agregar transición para la sombra */
}

/* Estilos para la imagen del producto */
.product-item .imagen {
  width: 200px;
  max-width: 100%; /* Hace que la imagen sea responsiva y se adapte al ancho del contenedor */
  height: 210px; /* Mantiene la proporción de la imagen */
  max-height: 100%;
  margin-bottom: 10px; /* Espacio entre la imagen y otros elementos */
}

/* Estilos para el nombre del producto */
.product-item .nombre {
  margin-top: 12px;
  text-align: center;
  font-size: 18px; /* Tamaño de fuente */
  color: #797777; /* Color del texto */
}

/* Estilos para el precio del producto */
.product-item .precio {
  text-align: center;
  font-size: 20px;
  color: #53e385;
}

/* Estilos para el botón de producto */
.btn-product {
  width: 250px;
  height: 45px;
  color: inherit;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: #53e385;
  font-size: 20px;
}

/* Estilos para los enlaces */
a {
  color: white;
}

/* Estilos para el botón de producto al hacer hover */
.btn-product:hover {
  background-color: black;
}

/* Estilos para el producto al hacer hover */
.product-item:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5); /* Establecer la sombra al hacer hover */
}
