{% load static %}

<!-- footer.html -->
    <link rel="stylesheet" type="text/css" href="{% static 'Css/stylesFooter.css' %}">

    <footer>
        <div class="footerGrid">
            <div class="logo">
                <img src="/static/Img/img_empresa/logo.jpeg" alt="">
            </div>
            <div class="redes_sociales">
                <a href="https://instagram.com/packagingdelsur?igshid=NjIwNzIyMDk2Mg==" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/people/Packaging-del-Sur/100063699332631/?mibextid=ZbWKwL" class="facebook"><i class="fab fa-facebook"></i></a>
                
                <a href="https://api.whatsapp.com/send?phone=+56988987542&text=Hola%20Desde%20Sitio%20Web" target="_blank" class="whatsapp"><i class="fab fa-whatsapp" ></i></a>
                
                
            </div>
            <div class="direccion">
                <!-- <h4>Dirección</h4>
                <p>Los Encinos, Parcela Q-37, Alameda San Francisco.</p> -->
                <h4>Online</h4>
            
            </div>
        </div>
        <div class="copy">
            <p>  Packaging del Sur &copy; {{2023}} Todos los Derechos Reservados. </p>
        </div>
        
    
    </footer>